test.sh
.vscode
src/trace_splitter/__pycache__/scaling.cpython-37.pyc
src/trace_splitter/__pycache__/userDefinedMethods.cpython-37.pyc
src/trace_splitter/__pycache__/__init__.cpython-37.pyc
src/trace_splitter/__pycache__/scaling_methods.cpython-37.pyc
src/files/source_trace1lwl.txt
src/files/source_trace1randrr.txt
src/files/source_trace1rr.txt
src/files/source_trace2lwl.txt
src/files/source_trace2randrr.txt
src/files/source_trace2rr.txt
src/files/source_tracemodelSimple.txt
src/files/source_tracerand.txt
src/files/source_tracetspan.txt
src/files/upscaledTrace.txt